.left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.overlay__gradient {
  background: linear-gradient(0deg, #0a2029, transparent);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.lg-outer .lg-item:before,
.lg-outer .lg-img-wrap:before {
  display: none !important;
}  
  
.lg-video-cont {
    width: auto !important;
    margin-top: -8%;
}

hr {
  margin-bottom: 0.5px !important;
}